<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>SpectaX App</title>
    {% endif %}

    <link
      rel="icon"
      href="{% static 'images/favicon.png' %}"
      type="image/gif"
      sizes="16x16"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  </head>
  <body>
    <div>{% include 'components/sidebar.html' %}</div>
    {% comment %} {% include 'components/navbar.html' %} {% endcomment %}

    <div id="main-content">
      <div class="contents">{% block content %} {% endblock content %}</div>
    </div>
  </body>

  <footer>
    <p>Copyright © 2023 IIT, NSTU</p>
  </footer>

  
  <!-- <script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.0.js' %}"></script> -->
  <script src="{% static 'js/main.js' %}"></script>
</html>
