{% load static %} 
<title>SpectaX Video Call</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/custom-style.css' %}" />
<style>
  .icon-wrapper span{
    background-color: #3d5ee1;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
  }
</style>
<main>
  <section id="room-name-wrapper">
    <p>Room Name: <span id="room-name"></span></p>
  </section>

  <section id="video-streams"></section>
  {% comment %} <canvas id="canvas" style="display:none;"></canvas> {% endcomment %}


  <section id="controls-wrapper">
    {% comment %} <div class="icon-wrapper">
      <span>Share Screen</span>
      <i class="fas fa-share-square"></i>
    </div> {% endcomment %}


    <div class="icon-wrapper">
      <img
        class="control-icon"
        id="mic-btn"
        src="{% static 'images/microphone.svg' %}"
      />
    </div>

    <div class="icon-wrapper">
      <img
        class="control-icon"
        id="camera-btn"
        src="{% static 'images/video.svg' %}"
      />
    </div>

    <div class="icon-wrapper">
      <img
        class="control-icon"
        id="leave-btn"
        src="{% static 'images/leave.svg' %}"
      />
    </div>

    <!-- <div class="icon-wrapper">
      <button id="take-attendance-button">Take Attendance</button>
    </div> -->
  </section>
  <video id="video-element" style="display: none;"></video>
</main>

<script
  type="text/javascript"
  src="{% static 'assets/AgoraRTC_N-4.8.0.js' %}"
></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}"></script>
<script src="{% static 'js/image-collection.js' %}"></script>

{% comment %} <script type="text/javascript" src="{% static 'js/config.js' %}"></script> {% endcomment %}
